<h3 class="heading">Recent contacts </h3><br>
<div class="col-6">
  <div class="card text-white bg-primary mb-3">
  
  <div class="card-body">
    <h5 class="card-title style"> <p (click)="myFunction1()">Andrew</p>
    </h5>
  </div>
</div>
</div>
<div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction2()">Smith</p>
      </h5>
    </div>
  </div>
  </div>
  <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction3()">John</p>
      </h5>
    </div>
  </div>
  </div>
  <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction4()">Lums</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction5()">Beemo1</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction6()">Mathew</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction7()">Emma</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction8()">Olivia</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction9()">Sophia</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction10()">Isabelle</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction11()">Ava</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction12()">Mia</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction13()">Emily</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction14()">Abigail</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction15()">Madison</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction16()">Charlotte</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction17()">Harver</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction18()">Sofia</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction19()">Elivy</p>
      </h5>
    </div>
  </div>
  </div> <div class="col-6">
    <div class="card text-white bg-primary mb-3">
    
    <div class="card-body">
      <h5 class="card-title style"> <p (click)="myFunction20()">Elizabeth</p>
      </h5>
    </div>
  </div>
  </div> 

<h5 class="jsFunc">{{demo}}</h5>
